# Orders

‚úèÔ∏è **Exercise**

Today, we will investigate the **orders**, and their associated review score.

For that purpose, we will create one single data table containing **all our orders with some engineered statistics for them as additional columns.**

Our goal is to create the following DataFrame, which will come in very handy for our modeling phase

  - `order_id` (_str) the id of the order_
  - `wait_time` (_float) the number of days between order_date and delivered_date_
  - `expected_wait_time` (_float) the number of days between order_date and estimated_delivery_date_
  - `delay_vs_expected` (_float) if the actual delivery date is later than the estimated delivery date, returns the absolute number of days between the two dates, otherwise return 0_
  - `order_status` (_str) the status of the order_
  - `dim_is_five_star` (_int) 1 if the order received a five_star, 0 otherwise_
  - `dim_is_one_star` (_int) 1 if the order received a one_star, 0 otherwise_
  - `review_score`(_int) from 1 to 5_
  - `number_of_product` (_int) number of products that the order contains_
  - `number_of_sellers` (_int) number of sellers involved in the order_
  - `price` (_float) total price of the order paid by customer_
  - `freight_value` (_float) value of the freight paid by customer_
  - (Optional) `distance_customer_seller` (_float) the distance in km between customer and seller_
  
We also want to filter out "non-delivered" orders, unless explicitly specified

‚ùì **Your challenge**: 

- Implement each feature as a separate method within the `Order` class available at `olist/order.py`
- Then, create a method `get_training_data()` that returns the complete DataFrame.

Suggested methodology:
- Use the notebook below to write and test your code step-by-step first
- Then copy the code into `order.py` once you are certain of your code logic
- Focus on the data manipulation logic now, we will analyse the dataset visually in the next challenges

<details>
    <summary>üî• Notebook best practice (must read) </summary>

From now on, exploratory notebooks are going to get pretty long, and we strongly advise you to follow these notebook principles:
- Code your logic so that your Notebook can always be ran from top to bottom without crashing (Cell --> Run All)
- Name your variables carefully 
- Use dummy names such as `tmp` or `_` for intermediary steps when you know you won't need them for long
- Clear your code and merge cells when relevant to minimize Notebook size (`Shift-M`)
- Hide your cell output if you don't need to see it anymore (double click on the red `Out[]:` section to the left of your cell).
- Make heavy use of jupyber nbextention `Collapsable Headings` and `Table of Content` (call a TA if you can't find them)
- Use the following shortcuts 
    - `a` to insert a cell above
    - `b` to insert a cell below
    - `dd` to delete a cell
    - `esc` and `arrows` to move between cells
    - `Shift-Enter` to execute cell and move focus to the next one
    - use `Shift + Tab` when you are between method brackets e.g. `group_by()` to get the docs! Repeat a few times to open it permanently

</details>





# Auto reload imported module everytime a jupyter cell is executed (handy for olist.order.py updates)
%load_ext autoreload
%autoreload 2

In [1]:
%load_ext autoreload
%autoreload 2

In [0]:
# Import usual modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Import olist data
from olist.data import Olist
olist=Olist()
data=olist.get_data()
matching_table = olist.get_matching_table()

## Code `order.py`

In [4]:
orders = data['orders'].copy() # good practice to be sure not to modify your `data` variable

### get_wait_time
Return a dataframe with [order_id, wait_time, expected_wait_time, delay_vs_expected, order_status]

Hints:
- Don't forget to convert dates from "string" type to "pandas.datetime' using [`pandas.to_datetime()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html)
- Take time to understand what python [`datetime`](https://docs.python.org/3/library/datetime.html) objects are

In [5]:
# We give you the pseudo-code below for this first method:

# Inspect orders dataframe
# Filter dataframe on delivered orders
# handle datetime
# compute wait time
# compute expected wait time
# compute delay vs expected - carefully handles "negative" delays
# check new dataframe and copy code carefully to `olist/order.py`

In [6]:
orders.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00

In [7]:
orders.shape

(99441, 8)

In [8]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [9]:
# Check your new dataframe and commit your code to olist/order.py when it works. 
# Test it below
from olist.order import Order
Order().get_wait_time()

,order_id,wait_time,expected_wait_time,delay_vs_expected,order_status
0,e481f51cbdc54678b7cc49136f2d6af7,8.0,15,0.0,delivered
1,53cdb2fc8bc7dce0b6741e2150273451,13.0,19,0.0,delivered
2,47770eb9100c2d0c44946d9cf07ec65d,9.0,26,0.0,delivered
3,949d5b44dbf5de918fe9c16f97b45f8a,13.0,26,0.0,delivered
4,ad21c59c0840e6cb83a9ceb5573f8159,2.0,12,0.0,delivered
...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,8.0,18,0.0,delivered
99437,63943bddc261676b46f01ca7ac2f7bd8,22.0,23,0.0,delivered
99438,83c1379a015df1e13d02aae0204711ab,24.0,30,0.0,delivered
99439,11c177c8e97725db2631073c19f07b62,17.0,37,0.0,delivered
99440,66dea50a8b16d9b4dee7af250b4be1a5,7.0,25,0.0,delivered

### get_review_score
     Returns a DataFrame with:
        order_id, dim_is_five_star, dim_is_one_star, review_score

In [10]:
reviews = data['order_reviews'].copy()
reviews

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parab√©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99995,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99996,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super r√°pida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99997,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99998,be360f18f5df1e0541061c87021e6d93,f8bd3f2000c28c5342fedeb5e50f2e75,1,NaN,Solicitei a compra de uma capa de retrovisor c...,2017-12-15 00:00:00,2017-12-16 01:29:43
99999,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [11]:
# Fill in the functions below, which you will have to apply "element-wise" to each Series in the next cell below
# So as to create the 2 new columns requested 
def dim_five_star(x):
    return 1 if x == 5 else 0

def dim_one_star(x):
    return 1 if x == 1 else 0

In [12]:
reviews["dim_is_five_star"] = reviews["review_score"].map(dim_five_star) # --> Series([0, 1, 1, 0, 0, 1 ...])


reviews["dim_is_one_star"] = reviews["review_score"].map(dim_one_star) # --> Series([0, 1, 1, 0, 0, 1 ...])

In [13]:
# Check your new dataframe and commit your code to olist/order.py when it works. 
# Test it below
from olist.order import Order
Order().get_review_score()

,order_id,dim_is_five_star,dim_is_one_star,review_score
0,73fc7af87114b39712e6da79b0a377eb,0,0,4
1,a548910a1c6147796b98fdf73dbeba33,1,0,5
2,f9e4b658b201a9f2ecdecbb34bed034b,1,0,5
3,658677c97b385a9be170737859d3511b,1,0,5
4,8e6bfb81e283fa7e4f11123a3fb894f1,1,0,5
...,...,...,...,...
99995,22ec9f0669f784db00fa86d035cf8602,1,0,5
99996,55d4004744368f5571d1f590031933e4,1,0,5
99997,7725825d039fc1f0ceb7635e3f7d9206,0,0,4
99998,f8bd3f2000c28c5342fedeb5e50f2e75,0,1,1
99999,90531360ecb1eec2a1fbb265a0db0508,0,1,1

### Check your code

In [14]:
from nbresult import ChallengeResult

result = ChallengeResult('reviews',
    dim_five_star=dim_five_star(5),
    dim_not_five_star=dim_five_star(3),
    dim_one_star=dim_one_star(1),
    dim_not_one_star=dim_one_star(2)
)
result.write()
print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.8.6, pytest-6.2.3, py-1.10.0, pluggy-0.13.1 -- /Users/smrack/.pyenv/versions/3.8.6/envs/lewagon/bin/python3.8
cachedir: .pytest_cache
rootdir: /Users/smrack/code/olushO/data-challenges/04-Decision-Science/02-Statistical-Inference/01-Orders
plugins: anyio-2.2.0, dash-1.20.0
collecting ... collected 4 items

tests/test_reviews.py::TestReviews::test_dim_five_star PASSED            [ 25%]
tests/test_reviews.py::TestReviews::test_dim_not_five_star PASSED        [ 50%]
tests/test_reviews.py::TestReviews::test_dim_not_one_star PASSED         [ 75%]
tests/test_reviews.py::TestReviews::test_dim_one_star PASSED             [100%]

============================== 4 passed in 0.03s ===============================


üíØ You can commit your code:

git add tests/reviews.pickle

git commit -m 'Completed reviews step'

git push origin master

### get_number_products:
     Returns a DataFrame with:
        order_id, number_of_products (total number of products per order)

In [15]:
matching_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114100 entries, 0 to 114099
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   customer_id  114100 non-null  object
 1   order_id     114100 non-null  object
 2   review_id    114100 non-null  object
 3   product_id   113322 non-null  object
 4   seller_id    113322 non-null  object
dtypes: object(5)
memory usage: 5.2+ MB

In [16]:
matching_table[['order_id','product_id']].groupby('order_id').count().tail(10)

                                  product_id
order_id
fffa82886406ccf10c7b4e35c4ff2788           1
fffb0b1a50e65c449020434fa835e078           1
fffb2ef8874127f75b52b643880fd7e0           1
fffb9224b6fc7c43ebb0904318b10b5f           4
fffbee3b5462987e66fb49b1c5411df2           1
fffc94f6ce00a00581880bf54a75a037           1
fffcd46ef2263f404302a634eb57f7eb           1
fffce4705a9662cd70adb13d4a31832d           1
fffe18544ffabc95dfada21779c9644f           1
fffe41c64501cc87c801fd61db3f6244           1

In [17]:
items = data['order_items'].copy()

In [18]:
# Check your new dataframe and commit your code to olist/order.py when it works. 
Order().get_number_products().tail(14)

                                  number_of_products
order_id
fff7c4452f050315db1b3f24d9df5fcd                   1
fff8286f77788ab8b55b2e5747fa7dd8                   1
fff8287bbae429a99bb7e8c21d151c41                   2
fff90cdcb3b2e6cfb397d05d562fd3fe                   1
fffa82886406ccf10c7b4e35c4ff2788                   1
fffb0b1a50e65c449020434fa835e078                   1
fffb2ef8874127f75b52b643880fd7e0                   1
fffb9224b6fc7c43ebb0904318b10b5f                   4
fffbee3b5462987e66fb49b1c5411df2                   1
fffc94f6ce00a00581880bf54a75a037                   1
fffcd46ef2263f404302a634eb57f7eb                   1
fffce4705a9662cd70adb13d4a31832d                   1
fffe18544ffabc95dfada21779c9644f                   1
fffe41c64501cc87c801fd61db3f6244                   1

### get_number_sellers:
     Returns a DataFrame with:
        order_id, number_of_sellers (total number of unique sellers per order)

<details>
    <summary>Hint</summary>

`pd.Series.nunique()`
</details>

In [19]:
items.nunique()

order_id               98666
order_item_id             21
product_id             32951
seller_id               3095
shipping_limit_date    93318
price                   5968
freight_value           6999
dtype: int64

In [20]:
# Check your new dataframe and commit your code to olist/order.py when it works.
Order().get_number_sellers().tail(10)

                                  number_of_sellers
order_id
fffa82886406ccf10c7b4e35c4ff2788                  1
fffb0b1a50e65c449020434fa835e078                  1
fffb2ef8874127f75b52b643880fd7e0                  1
fffb9224b6fc7c43ebb0904318b10b5f                  4
fffbee3b5462987e66fb49b1c5411df2                  1
fffc94f6ce00a00581880bf54a75a037                  1
fffcd46ef2263f404302a634eb57f7eb                  1
fffce4705a9662cd70adb13d4a31832d                  1
fffe18544ffabc95dfada21779c9644f                  1
fffe41c64501cc87c801fd61db3f6244                  1

### get_price_and_freight
     Returns a DataFrame with:
        order_id, price, freight_value

<details>
    <summary>Hint</summary>

`pd.Series.agg()` allows you to apply one transformation method per column of your groupby object
</details>

In [21]:
# Check your new dataframe and commit your code to olist/order.py when it works. 
Order().get_price_and_freight()

                                   price  freight_value
order_id
00010242fe8c5a6d1ba2dd792cb16214   58.90          13.29
00018f77f2f0320c557190d7a144bdd3  239.90          19.93
000229ec398224ef6ca0657da4fc703e  199.00          17.87
00024acbcdf0a6daa1e931b038114c75   12.99          12.79
00042b26cf59d7ce69dfabb4e55b4fd9  199.90          18.14
...                                  ...            ...
fffc94f6ce00a00581880bf54a75a037  299.99          43.41
fffcd46ef2263f404302a634eb57f7eb  350.00          36.53
fffce4705a9662cd70adb13d4a31832d   99.90          16.95
fffe18544ffabc95dfada21779c9644f   55.99           8.72
fffe41c64501cc87c801fd61db3f6244   43.00          12.79

[98666 rows x 2 columns]

### get_distance_seller_customer (OPTIONAL - Try only after finishing today's challenges - Skip to next section)
[order_id, distance_seller_customer] (the distance in km between customer and seller)

üí°Have a look at the `haversine_distance` formula we coded for you in the `olist.utils` module

In [22]:
# Check your new dataframe and commit your code to olist/order.py when it works. 
Order().get_distance_seller_customer()

In [23]:
Order().get_training_data().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97007 entries, 0 to 97014
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            97007 non-null  object
 1   wait_time           97007 non-null  float64
 2   expected_wait_time  97007 non-null  int64
 3   delay_vs_expected   97007 non-null  float64
 4   order_status        97007 non-null  object
 5   dim_is_five_star    97007 non-null  int64
 6   dim_is_one_star     97007 non-null  int64
 7   review_score        97007 non-null  int64
 8   number_of_products  97007 non-null  int64
 9   number_of_sellers   97007 non-null  int64
 10  price               97007 non-null  float64
 11  freight_value       97007 non-null  float64
dtypes: float64(4), int64(6), object(2)
memory usage: 9.6+ MB

# Test your newly coded module

‚ùì Time to code `get_training_data` making use of your previous coded methods.

In [24]:
from olist.order import Order
from nbresult import ChallengeResult
data = Order().get_training_data()
result = ChallengeResult('training',
    shape=data.shape,
    columns=sorted(list(data.columns))
)
result.write()
print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.8.6, pytest-6.2.3, py-1.10.0, pluggy-0.13.1 -- /Users/smrack/.pyenv/versions/3.8.6/envs/lewagon/bin/python3.8
cachedir: .pytest_cache
rootdir: /Users/smrack/code/olushO/data-challenges/04-Decision-Science/02-Statistical-Inference/01-Orders
plugins: anyio-2.2.0, dash-1.20.0
collecting ... collected 2 items

tests/test_training.py::TestTraining::test_training_data_columns PASSED  [ 50%]
tests/test_training.py::TestTraining::test_training_data_shape PASSED    [100%]

============================== 2 passed in 0.04s ===============================


üíØ You can commit your code:

git add tests/training.pickle

git commit -m 'Completed training step'

git push origin master

üèÅ Congratulations! Commit and push your notebook before starting the next challenge.